article {
  height: 500px;
  width: 400px;
  background-color: beige;
  border: 2px solid black;
  position: relative;
}
p {
  background-color: skyblue;
  color: white;
  text-wrap: wrap;
}
.friend {
  background-color: red;
}
input {
  padding: 10px;
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
  background-color: skyblue;
  color: #000080;
  width: 400px;
  height: 50px;
}
button {
  border: 2px solid white;
  border-radius: 10px;
  background-color: skyblue;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}
button:active {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}
.send {
  height: 40px;
  width: 200px;
}
